<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>us.gfzj.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Open Share</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
<!--	<key>UIMainStoryboardFile</key>-->
<!--	<string>Main</string>-->
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
    
<!--  OpenShare添加回调urlschemes  -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>OpenShare</string>
            <key>CFBundleURLSchemes</key>
            <array>
<!--      OpenShare自己（支付宝等回调需要）         -->
<string>openshare</string>
<!--      微信          -->
<string>wxd930ea5d5a258f4f</string>
<!--       QQ         -->
<string>tencent1103194207</string>
<string>tencent1103194207.content</string>
<string>QQ41C1685F</string>
<!--微博-->
<string>wb402180334</string>
<!--人人-->
<string>renrenshare228525</string>
<!--facebook-->
<string>fb776442542471056</string>

            </array>
        </dict>
    </array>
<!--  添加自定义字体(Demo UI使用)  -->
<key>UIAppFonts</key>
<array>
    <string>iconfont.ttf</string>
</array>
</dict>
</plist>
